.active {
    background-image: url("../assets/icons/dropdown_up.svg");
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.disableOverflow {
    overflow: hidden;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }